<nav class="navbar navbar-default hd">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="cursor: pointer;" class="navbar-brand ft">Recipe book</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav nav nvb">
                
                <!-- Router/Routing -->
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="recipes" class="nav-link " >Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="shopping-list" class="nav-link">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav nv">
                
                <!-- Pipe  -->
                <!-- <li ><a class="nav-link">{{mydate| Date:"fullDate" }}</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a 
                        style="cursor: pointer;" 
                        routerLink="auth"   
                        class="nav-link" 
                        role="button" 
                        *ngIf="!isAuthenticated"
                        >Login</a>
                    <a 
                        style="cursor: pointer;" 
                        routerLink="auth" 
                        class="nav-link" 
                        role="button" 
                        *ngIf="isAuthenticated"
                        (click)="onlogout()"
                        >Logout</a>
                </li>
                <li class="dropdown" appDropdown routerLinkActive="active" *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle nav-link" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu "  >

                        <!-- Click event -->
                        <li class="dropdown-item"><a style="cursor: pointer;" (click)="onSave()">Save data</a></li>
                        <li class="dropdown-item"><a style="cursor: pointer;" (click)="onFatch()">Fatch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
