<div class="row">
    <div class="col-md-12">
        <app-shopping-edit>loading....</app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a 
                class="list-group-item" 
                style="cursor: pointer;" 
               
                *ngFor="let item of (ingrediente|async).ingrediente;let i=index"
                (click)="oneditItem(i)"                
                >
                {{item.name}} <span class="badge badge-success">{{item.amount}}</span>
            </a>
        </ul>
    </div>
</div>



