<div class="row ">
    <div class="col-md-12">
        <!-- <button class="btn btn-success"
        routerLink="new"
        >New Recipe</button> -->

        <button class="btn btn-success"
        routerLink="new"
        >New Recipe</button>
    </div>
</div>
<br>
<div class="row main2">
    <div class="col-md-12">
        <app-recipe-item 
        *ngFor="let item of recipes;let i=index;" 
        [recipe]="item"
        [index]="i"
        >    loading...
        </app-recipe-item>
    </div>
</div>
